doctype html
html.demo-1.no-js(lang='en', dir='rtl')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title فرم علاقه‌مندان ورودی ۹۶
        link(rel='stylesheet', type='text/css', href='stylesheets/demo.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/component.css')
        //if IE
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        script(type="text/javascript" src="javascripts/jquery.min.js")
    body(style='padding:0')
        div#thanks.container
            p#happy مرسی #{name}! سال‌های پرماجرایی داشته باشی.
    script.
        setTimeout(function(){
            location.href = "/96"
        }, 3000);

