doctype html
html.demo-1.no-js(lang='en', dir='rtl')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title فرم علاقه‌مندان ورودی ۹۶
        link(rel='stylesheet', type='text/css', href='stylesheets/demo.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/component.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        .container
            div.ccheaderimg
                    img(src="images/acm.png")
            header.ccheader
                h2(style='font-family: sahel; color: #537382',) بر در آسمان زنم، حلقه‌ی آشناییت
            .wrapper
                form.ccform(method='post', action='')
                    .ccfield-prepend
                        span.ccform-addon
                            i.fa.fa-user.fa-2x
                        input.ccformfield(name='name',type='text', placeholder='نام و نام خانوادگی', required='')
                    .ccfield-prepend
                        span.ccform-addon
                            i.fa.fa-envelope.fa-2x
                        input.ccformfield(name='email',type='text', placeholder='ای‌میل', required='')
                    .ccfield-prepend
                        span.ccform-addon
                            i.fa.fa-mobile.fa-2x
                        input.ccformfield(name='phone', type='text', placeholder='تلفن همراه(اختیاری)')
                    .ccfield-prepend
                        span.ccform-addon
                        select.ccformfield(name='field', type='text', placeholder='رشته‌ی تحصیلی')
                            option(value="CE") کامپیوتر
                            option(value="EE") برق
                            option(value="other") سایر
                    .ccfield-prepend
                        span.ccform-addon
                            i.fa.fa-comment.fa-2x
                        textarea.ccformfield(style='resize: vertical', name='description', rows='8', placeholder='علایق و تجربیات', required='')
                    .ccfield-prepend
                        input.ccbtn(style='font-family: sahel',type='submit', value='ارسال')
